
.home {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #5CDB95;
  }

  body {
    scrollbar-width: none; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */
  }
  
  /* For Chrome, Safari, and Opera */
  body::-webkit-scrollbar {
    width: 0px;
  }
  
  body::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  @keyframes wave {
    0% {
        transform: translateY(0px);
    }
  
    20% {
        transform: translateY(-80px);
    }
  
  
    40%,
    100% {
        transform: translateY(0px);
    }
  }
  
  .hello-text {
    display: inline-block;
    animation-name: wave;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: 50% 60%;
  }
  

  .about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f0f0f0;
  }

  .hello-text, .prompt, .socialMedia {
    position: relative;
    z-index: 1;
  }
  
  .about h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    color: #05386B;
    height: 50px;
  }
  
  .about .prompt {
    width: 40%;
    font-size: 30px;
  }
  .prompt svg {
    font-size: 60px;
    margin: 5px;
    color: white;
  }

  .socialMedia svg {
    color: white;
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
  }
  
  .skills {
    font-size: 35px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    z-index: 1;
  }
  
  .skills h1 {
    color: #5CDB95;
  }
  
  .skills .list {
    list-style: none;
    width: 60%;
  }

  .particles {
    position: absolute;
    z-index: -1;
  }
  
  .list span {
    font-size: 20px;
  }

  .Aboutme {
    font-size: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #5CDB95;
  }

  .Aboutme h1 {
    color: #05386B;
  }

  .Contactme {
    font-size: 35px;
    width: 100%;
    display: flex;
    background-color: #5CDB95;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .Contactme h1 {
    color: #05386B;
  }

  .styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@keyframes rotateImage {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

.rotate:hover {
  animation: rotateImage 2s linear infinite;
}

  
  @media only screen and (max-width: 1500px) {
    
    .about{
      height: 90%S;
    }

    .about h2 {
      font-size: 28px;
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 90%;
    }

    @keyframes wave {
      0% {
          transform: translateY(0px);
      }
    
      20% {
          transform: translateY(-30px);
      }
    
    
      40%,
      100% {
          transform: translateY(0px);
      }
    }
    
    .hello-text {
      display: inline-block;
      animation-name: wave;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      transform-origin: 50% 60%;
    }
  
    .skills {
      text-align: center;
      height: 60%;
      margin: 40;
    }

    .list {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
    }
  }

  @media only screen and (max-height: 700px) {
    .about{
      height: 50%;
    }
  }